.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-background_23-2148998041.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 
